
[data-theme=light],
:root:not([data-theme=dark]) {
    --primary: hsl(329, 98%, 49%);
    --primary-hover: hsl(329, 90%, 40%);
    --primary-focus: rgba(217, 32, 107, 0.125);
    --form-element-spacing-vertical: 0.5rem;
    --form-element-spacing-horizontal: 0.5rem;
    --form-element-valid-border-color: hsl(144, 73%, 75%);
}
  
.container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

/* CONTAINERS */

.img-container {
    max-width: 100%;
    height: auto;
    flex-basis: auto;
    position: relative;
  }

  .content-container {
    flex-basis: 60%;
    padding: 1rem;
  }
  
  .header-container {
    position: relative;
    margin-bottom: 1rem;
  }

  /* adds color fullstop after h1 */
h1::after {
    content: ".";
    color: var(--primary);
}

h1 {
    margin-top: 0.375rem; 
    margin-bottom: var(--grid-spacing-horizontal);
}
  
  /* IMAGE AND LOGO */

  .main-img {
    max-height: 615px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-top: 2rem;
  }

  .logo-overlay {
    position: absolute;
    bottom: 40%;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
  }

  .logo-img {
    width: 50%;
    height: auto; 
    display: block;
    margin: 0 auto; 
    object-fit: contain;
}

  /* FORM STYLES*/
  
  .form-container .input-row {
    display: flex;
    gap: 1.5rem;
  }
  
  .form-container input {
    flex: 1;
    box-sizing: border-box;
    padding: 1rem;
  }

  .password-row {
    margin-bottom: -1rem;
  }

  .submit-row {
    margin-top: 1.425rem;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  /* INPUT BORDER COLORS FOR VALID/INVALID INPUT FEEDBACK */
  
  input[type="text"]:valid:not(#phone):focus:not(:focus),
  input[type="email"]:valid:not(#phone):focus:not(:focus),
  input[type="password"]:valid:not(#phone):focus:not(:focus),
  input[type="tel"]:valid:focus,
  input[type="text"]:valid:not(#phone):not(:focus),
  input[type="email"]:valid:not(#phone):not(:focus),
  input[type="password"]:valid:not(#phone):not(:focus) {
    border-color: var(--form-element-valid-border-color);
  }

  input[type="text"]:invalid:not(#phone):not(:placeholder-shown),
  input[type="email"]:invalid:not(#phone):not(:placeholder-shown),
  input[type="password"]:invalid:not(#phone):not(:placeholder-shown),
  input[type="tel"]:invalid:not(:placeholder-shown) {
  border-color: var(--form-element-invalid-border-color);
}
  
/* MEDIA QUERY FOR MOBILE */

@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .content-container {
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .form-container .input-row {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
  }

  .main-img,
  .logo-overlay {
    display: none;
  }

  .header-container p {
    font-size: 1rem;
    line-height: 1.275;
  }
}

/* MEDIA QUERIES TO COUNTER TEXT WRAPPING AT SMALLER SIZES */

@media (max-width: 1200px) {
  .header-container p {
    font-size: 0.95rem;
    line-height: 1.650;
  }

  .main-img {
    max-height: 735px;
    width: 100%;
  }
}
