[data-theme=light],
:root:not([data-theme=dark]) {
    --primary: hsl(329, 98%, 49%);
    --primary-hover: hsl(329, 90%, 40%);
    --primary-focus: rgba(217, 32, 107, 0.125);
    --form-element-spacing-vertical: 0.5rem;
    --form-element-spacing-horizontal: 0.5rem;
}
  
.container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

  .image-container {
    flex-basis: 33.33%;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .content-container {
    flex-basis: 66.67%;
    padding: 1rem;
  }
  
  .header-container {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-container .input-row {
    display: flex;
    gap: 1.5rem;
  }
  
  .form-container input {
    flex: 1;
    margin-right: 2rem;
    box-sizing: border-box; 
  }
  
  .submit-row {
    /* margin-top: var(--form-element-spacing-horizontal); */
    display:flex;
    flex-direction: column;
    align-items: center;
  }

.main-img {
    height: 615px; /* CHANGE THIS!! ONLY TEMP! */
    border-radius: var(--border-radius);
    margin-top: 2rem;
    
}

/* adds color fullstop after h1 */
h1::after {
    content: ".";
    color: var(--primary);
}

h1 {
    margin-top: 0.375rem; 
    margin-bottom: var(--grid-spacing-horizontal);
}

small {
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .content-container {
      align-items: center;
      padding: 0;
      margin: 0;
    }
  
    .form-container .input-row {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 0;
    }
  
    .main-img {
      display: none;
    }
  }
  