/*
 * Theme: default
 */
:root {
 --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
   "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
   "Segoe UI Symbol", "Noto Color Emoji";
 --line-height: 1.5;
 --font-weight: 400;
 --font-size: 16px;
 --border-radius: 0.25rem;
 --border-width: 1px;
 --outline-width: 3px;
 --spacing: 1rem;
 --typography-spacing-vertical: 1.5rem;
 --block-spacing-vertical: calc(var(--spacing) * 2);
 --block-spacing-horizontal: var(--spacing);
 --grid-spacing-vertical: 0;
 --grid-spacing-horizontal: var(--spacing);
 --form-element-spacing-vertical: 0.75rem;
 --form-element-spacing-horizontal: 1rem;
 --nav-element-spacing-vertical: 1rem;
 --nav-element-spacing-horizontal: 0.5rem;
 --nav-link-spacing-vertical: 0.5rem;
 --nav-link-spacing-horizontal: 0.5rem;
 --form-label-font-weight: var(--font-weight);
 --transition: 0.2s ease-in-out;
 --modal-overlay-backdrop-filter: blur(0.25rem);
}
@media (min-width: 576px) {
 :root {
   --font-size: 17px;
 }
}
@media (min-width: 768px) {
 :root {
   --font-size: 18px;
 }
}
@media (min-width: 992px) {
 :root {
   --font-size: 19px;
 }
}
@media (min-width: 1200px) {
 :root {
   --font-size: 20px;
 }
}

a {
 --text-decoration: none;
}
// a.secondary, a.contrast {
//  --text-decoration: underline;
// }

small {
 --font-size: 0.875em;
}

h1 {
  --font-weight: 700;
 --font-size: 2rem;
 --typography-spacing-vertical: 3rem;
}

[data-theme=light],
:root:not([data-theme=dark]) {
 --background-color: #fff;
 --color: hsl(205, 20%, 32%);
 --h1-color: hsl(205, 30%, 15%);
 --h2-color: #24333e;
 --h3-color: hsl(205, 25%, 23%);
 --h4-color: #374956;
 --h5-color: hsl(205, 20%, 32%);
 --h6-color: #4d606d;
 --muted-color: hsl(205, 10%, 50%);
 --muted-border-color: hsl(205, 20%, 94%);
 --primary: hsl(195, 85%, 41%);
 --primary-hover: hsl(195, 90%, 32%);
 --primary-focus: rgba(16, 149, 193, 0.125);
 --primary-inverse: #fff;
 --secondary: hsl(205, 15%, 41%);
 --secondary-hover: hsl(205, 20%, 32%);
 --secondary-focus: rgba(89, 107, 120, 0.125);
 --secondary-inverse: #fff;
 --contrast: hsl(205, 30%, 15%);
 --contrast-hover: #000;
 --contrast-focus: rgba(89, 107, 120, 0.125);
 --contrast-inverse: #fff;
 --mark-background-color: #fff2ca;
 --mark-color: #543a26;
 --ins-color: #388e3c;
 --del-color: #c62828;
 --blockquote-border-color: var(--muted-border-color);
 --blockquote-footer-color: var(--muted-color);
 --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
 --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
 --form-element-background-color: transparent;
 --form-element-border-color: hsl(205, 14%, 68%);
 --form-element-color: var(--color);
 --form-element-placeholder-color: var(--muted-color);
 --form-element-active-background-color: transparent;
 --form-element-active-border-color: var(--primary);
 --form-element-focus-color: var(--primary-focus);
 --form-element-disabled-background-color: hsl(205, 18%, 86%);
 --form-element-disabled-border-color: hsl(205, 14%, 68%);
 --form-element-disabled-opacity: 0.5;
 --form-element-invalid-border-color: #c62828;
 --form-element-invalid-active-border-color: #d32f2f;
 --form-element-invalid-focus-color: rgba(211, 47, 47, 0.125);
 --form-element-valid-border-color: #388e3c;
 --form-element-valid-active-border-color: #43a047;
 --form-element-valid-focus-color: rgba(67, 160, 71, 0.125);
 --switch-background-color: hsl(205, 16%, 77%);
 --switch-color: var(--primary-inverse);
 --switch-checked-background-color: var(--primary);
 --range-border-color: hsl(205, 18%, 86%);
 --range-active-border-color: hsl(205, 16%, 77%);
 --range-thumb-border-color: var(--background-color);
 --range-thumb-color: var(--secondary);
 --range-thumb-hover-color: var(--secondary-hover);
 --range-thumb-active-color: var(--primary);
 --table-border-color: var(--muted-border-color);
 --table-row-stripped-background-color: #f6f8f9;
 --code-background-color: hsl(205, 20%, 94%);
 --code-color: var(--muted-color);
 --code-kbd-background-color: var(--contrast);
 --code-kbd-color: var(--contrast-inverse);
 --code-tag-color: hsl(330, 40%, 50%);
 --code-property-color: hsl(185, 40%, 40%);
 --code-value-color: hsl(40, 20%, 50%);
 --code-comment-color: hsl(205, 14%, 68%);
 --accordion-border-color: var(--muted-border-color);
 --accordion-close-summary-color: var(--color);
 --accordion-open-summary-color: var(--muted-color);
 --card-background-color: var(--background-color);
 --card-border-color: var(--muted-border-color);
 --card-box-shadow:
   0.0145rem 0.029rem 0.174rem rgba(27, 40, 50, 0.01698),
   0.0335rem 0.067rem 0.402rem rgba(27, 40, 50, 0.024),
   0.0625rem 0.125rem 0.75rem rgba(27, 40, 50, 0.03),
   0.1125rem 0.225rem 1.35rem rgba(27, 40, 50, 0.036),
   0.2085rem 0.417rem 2.502rem rgba(27, 40, 50, 0.04302),
   0.5rem 1rem 6rem rgba(27, 40, 50, 0.06),
   0 0 0 0.0625rem rgba(27, 40, 50, 0.015);
 --card-sectionning-background-color: #fbfbfc;
 --dropdown-background-color: #fbfbfc;
 --dropdown-border-color: #e1e6eb;
 --dropdown-box-shadow: var(--card-box-shadow);
 --dropdown-color: var(--color);
 --dropdown-hover-background-color: hsl(205, 20%, 94%);
 --modal-overlay-background-color: rgba(213, 220, 226, 0.7);
 --progress-background-color: hsl(205, 18%, 86%);
 --progress-color: var(--primary);
 --loading-spinner-opacity: 0.5;
 --tooltip-background-color: var(--contrast);
 --tooltip-color: var(--contrast-inverse);
 --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
 --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
 --icon-chevron-button: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
 --icon-chevron-button-inverse: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
 --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(115, 130, 140)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
 --icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
 --icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(198, 40, 40)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
 --icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
 --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
 --icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
 --icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(56, 142, 60)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
 color-scheme: light;
}

@media only screen and (prefers-color-scheme: dark) {
 :root:not([data-theme]) {
   --background-color: #11191f;
   --color: hsl(205, 16%, 77%);
   --h1-color: hsl(205, 20%, 94%);
   --h2-color: #e1e6eb;
   --h3-color: hsl(205, 18%, 86%);
   --h4-color: #c8d1d8;
   --h5-color: hsl(205, 16%, 77%);
   --h6-color: #afbbc4;
   --muted-color: hsl(205, 10%, 50%);
   --muted-border-color: #1f2d38;
   --primary: hsl(195, 85%, 41%);
   --primary-hover: hsl(195, 80%, 50%);
   --primary-focus: rgba(16, 149, 193, 0.25);
   --primary-inverse: #fff;
   --secondary: hsl(205, 15%, 41%);
   --secondary-hover: hsl(205, 10%, 50%);
   --secondary-focus: rgba(115, 130, 140, 0.25);
   --secondary-inverse: #fff;
   --contrast: hsl(205, 20%, 94%);
   --contrast-hover: #fff;
   --contrast-focus: rgba(115, 130, 140, 0.25);
   --contrast-inverse: #000;
   --mark-background-color: #d1c284;
   --mark-color: #11191f;
   --ins-color: #388e3c;
   --del-color: #c62828;
   --blockquote-border-color: var(--muted-border-color);
   --blockquote-footer-color: var(--muted-color);
   --button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
   --button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
   --form-element-background-color: #11191f;
   --form-element-border-color: #374956;
   --form-element-color: var(--color);
   --form-element-placeholder-color: var(--muted-color);
   --form-element-active-background-color: var(--form-element-background-color);
   --form-element-active-border-color: var(--primary);
   --form-element-focus-color: var(--primary-focus);
   --form-element-disabled-background-color: hsl(205, 25%, 23%);
   --form-element-disabled-border-color: hsl(205, 20%, 32%);
   --form-element-disabled-opacity: 0.5;
   --form-element-invalid-border-color: #b71c1c;
   --form-element-invalid-active-border-color: #c62828;
   --form-element-invalid-focus-color: rgba(198, 40, 40, 0.25);
   --form-element-valid-border-color: #2e7d32;
   --form-element-valid-active-border-color: #388e3c;
   --form-element-valid-focus-color: rgba(56, 142, 60, 0.25);
   --switch-background-color: #374956;
   --switch-color: var(--primary-inverse);
   --switch-checked-background-color: var(--primary);
   --range-border-color: #24333e;
   --range-active-border-color: hsl(205, 25%, 23%);
   --range-thumb-border-color: var(--background-color);
   --range-thumb-color: var(--secondary);
   --range-thumb-hover-color: var(--secondary-hover);
   --range-thumb-active-color: var(--primary);
   --table-border-color: var(--muted-border-color);
   --table-row-stripped-background-color: rgba(115, 130, 140, 0.05);
   --code-background-color: #18232c;
   --code-color: var(--muted-color);
   --code-kbd-background-color: var(--contrast);
   --code-kbd-color: var(--contrast-inverse);
   --code-tag-color: hsl(330, 30%, 50%);
   --code-property-color: hsl(185, 30%, 50%);
   --code-value-color: hsl(40, 10%, 50%);
   --code-comment-color: #4d606d;
   --accordion-border-color: var(--muted-border-color);
   --accordion-active-summary-color: var(--primary);
   --accordion-close-summary-color: var(--color);
   --accordion-open-summary-color: var(--muted-color);
   --card-background-color: #141e26;
   --card-border-color: var(--card-background-color);
   --card-box-shadow:
     0.0145rem 0.029rem 0.174rem rgba(0, 0, 0, 0.01698),
     0.0335rem 0.067rem 0.402rem rgba(0, 0, 0, 0.024),
     0.0625rem 0.125rem 0.75rem rgba(0, 0, 0, 0.03),
     0.1125rem 0.225rem 1.35rem rgba(0, 0, 0, 0.036),
     0.2085rem 0.417rem 2.502rem rgba(0, 0, 0, 0.04302),
     0.5rem 1rem 6rem rgba(0, 0, 0, 0.06),
     0 0 0 0.0625rem rgba(0, 0, 0, 0.015);
   --card-sectionning-background-color: #18232c;
   --dropdown-background-color: hsl(205, 30%, 15%);
   --dropdown-border-color: #24333e;
   --dropdown-box-shadow: var(--card-box-shadow);
   --dropdown-color: var(--color);
   --dropdown-hover-background-color: rgba(36, 51, 62, 0.75);
   --modal-overlay-background-color: rgba(36, 51, 62, 0.8);
   --progress-background-color: #24333e;
   --progress-color: var(--primary);
   --loading-spinner-opacity: 0.5;
   --tooltip-background-color: var(--contrast);
   --tooltip-color: var(--contrast-inverse);
   --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
   --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(162, 175, 185)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
   --icon-chevron-button: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
   --icon-chevron-button-inverse: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
   --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(115, 130, 140)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
   --icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(162, 175, 185)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
   --icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(183, 28, 28)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
   --icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
   --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(162, 175, 185)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
   --icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(162, 175, 185)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
   --icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(46, 125, 50)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
   color-scheme: dark;
 }
}
/**
 * Document
 * Content-box & Responsive typography
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
   background-repeat: no-repeat;
 }
 
 ::before,
 ::after {
   text-decoration: inherit;
   vertical-align: inherit;
 }
 
 :where(:root) {
   -webkit-tap-highlight-color: transparent;
   -webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   text-size-adjust: 100%;
   background-color: var(--background-color);
   color: var(--color);
   font-weight: var(--font-weight);
   font-size: var(--font-size);
   line-height: var(--line-height);
   font-family: var(--font-family);
   text-rendering: optimizeLegibility;
   overflow-wrap: break-word;
   cursor: default;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 }
 
 /**
  * Sectioning
  * Container and responsive spacings for header, main, footer
  */
 main {
   display: block;
 }
 
 body {
   width: 100%;
   margin: 0;
 }
 body > header,
 body > main,
 body > footer {
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   padding: var(--block-spacing-vertical) 0;
 }
 
 /**
 * Container
 */
 .container,
 .container-fluid {
   width: 100%;
   margin-right: auto;
   margin-left: auto;
   padding-right: var(--spacing);
   padding-left: var(--spacing);
 }
 
 @media (min-width: 576px) {
   .container {
     max-width: 510px;
     padding-right: 0;
     padding-left: 0;
   }
 }
 @media (min-width: 768px) {
   .container {
     max-width: 700px;
   }
 }
 @media (min-width: 992px) {
   .container {
     max-width: 920px;
   }
 }
 @media (min-width: 1200px) {
   .container {
     max-width: 1130px;
   }
 }
 
 /**
  * Section
  * Responsive spacings for section
  */
 section {
   margin-bottom: var(--block-spacing-vertical);
 }
 /**
 * Typography
 */

address,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-top: 0;
  margin-bottom: var(--typography-spacing-vertical);
  color: var(--color);
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

a,
[role=link] {
  --color: var(--primary);
  --background-color: transparent;
  outline: none;
  background-color: var(--background-color);
  color: var(--color);
  -webkit-text-decoration: var(--text-decoration);
  text-decoration: var(--text-decoration);
}

h1 {
  margin-top: 0;
  margin-bottom: var(--typography-spacing-vertical);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

h1 {
  --color: var(--h1-color);
}

p {
  margin-bottom: var(--typography-spacing-vertical);
}

small {
  font-size: var(--font-size);
}

/**
 * Embedded content
 */
 :where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
/**
 * Button
 */
 button {
  margin: 0;
  overflow: visible;
  font-family: inherit;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button {
  display: block;
  width: 100%;
  margin-bottom: var(--spacing);
}

button,
input[type=submit],
input[type=button],
input[type=reset],
[role=button] {
  --background-color: var(--primary);
  --border-color: var(--primary);
  --color: var(--primary-inverse);
  --box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
  font-size: 1rem;
  line-height: var(--line-height);
  text-align: center;
  cursor: pointer;
}

/**
 * Form elements
 */
 input,
 optgroup,
 select,
 textarea {
   margin: 0;
   font-size: 1rem;
   line-height: var(--line-height);
   font-family: inherit;
   letter-spacing: inherit;
 }
 
 input {
   overflow: visible;
 }

 input:not([type=checkbox], [type=radio], [type=range]) {
  height: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 + var(--border-width) * 2);
}

label,
fieldset legend {
  display: block;
  margin-bottom: calc(var(--spacing) * 0.25);
  font-weight: var(--form-label-font-weight, var(--font-weight));
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
  width: 100%;
}

input:not([type=checkbox], [type=radio], [type=range], [type=file]),
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
}

input,
select,
textarea {
  --background-color: var(--form-element-background-color);
  --border-color: var(--form-element-border-color);
  --color: var(--form-element-color);
  --box-shadow: none;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  color: var(--color);
  font-weight: var(--font-weight);
}

input::placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder,
select:invalid {
  color: var(--form-element-placeholder-color);
  opacity: 1;
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
  margin-bottom: var(--spacing);
}

label > :where(input, select, textarea) {
  margin-top: calc(var(--spacing) * 0.25);
}

/**
 * Accessibility & User interaction
 */

 a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
}

/**
 * CUSTOMIZED STYLE OVERRIDES
 */

[data-theme=light],
:root:not([data-theme=dark]) {
    --primary: hsl(329, 98%, 49%);
    --primary-hover: hsl(329, 90%, 40%);
    --primary-focus: rgba(217, 32, 107, 0.125);
    --form-element-spacing-vertical: 0.5rem;
    --form-element-spacing-horizontal: 0.5rem;
    --form-element-valid-border-color: hsl(144, 73%, 75%);
}
  
.container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

/* CONTAINERS */

.img-container {
    max-width: 100%;
    height: auto;
    flex-basis: auto;
    position: relative;
  }

  .content-container {
    flex-basis: 60%;
    padding: 1rem;
  }
  
  .header-container {
    position: relative;
    margin-bottom: 1rem;
  }

  /* adds color fullstop after h1 */
h1::after {
    content: ".";
    color: var(--primary);
}

h1 {
    margin-top: 0.375rem; 
    margin-bottom: var(--grid-spacing-horizontal);
}
  
  /* IMAGE AND LOGO */

  .main-img {
    max-height: 615px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-top: 2rem;
  }

  .logo-overlay {
    position: absolute;
    bottom: 40%;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
  }

  .logo-img {
    width: 50%;
    height: auto; 
    display: block;
    margin: 0 auto; 
    object-fit: contain;
}

  /* FORM STYLES*/
  
  .form-container .input-row {
    display: flex;
    gap: 1.5rem;
  }
  
  .form-container input {
    flex: 1;
    box-sizing: border-box;
    padding: 1rem;
  }

  .password-row {
    margin-bottom: -1rem;
  }

  .submit-row {
    margin-top: 1.425rem;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  /* INPUT BORDER COLORS FOR VALID/INVALID INPUT FEEDBACK */
  
  input[type="text"]:valid:not(#phone):focus:not(:focus),
  input[type="email"]:valid:not(#phone):focus:not(:focus),
  input[type="password"]:valid:not(#phone):focus:not(:focus),
  input[type="tel"]:valid:focus,
  input[type="text"]:valid:not(#phone):not(:focus),
  input[type="email"]:valid:not(#phone):not(:focus),
  input[type="password"]:valid:not(#phone):not(:focus) {
    border-color: var(--form-element-valid-border-color);
  }

  input[type="text"]:invalid:not(#phone):not(:placeholder-shown),
  input[type="email"]:invalid:not(#phone):not(:placeholder-shown),
  input[type="password"]:invalid:not(#phone):not(:placeholder-shown),
  input[type="tel"]:invalid:not(:placeholder-shown) {
  border-color: var(--form-element-invalid-border-color);
}
  
/* MEDIA QUERY FOR MOBILE */

@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .content-container {
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .form-container .input-row {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
  }

  .main-img,
  .logo-overlay {
    display: none;
  }

  .header-container p {
    font-size: 1rem;
    line-height: 1.275;
  }
}

/* MEDIA QUERIES TO COUNTER TEXT WRAPPING AT SMALLER SIZES */

@media (max-width: 1200px) {
  .header-container p {
    font-size: 0.95rem;
    line-height: 1.650;
  }

  .main-img {
    max-height: 735px;
    width: 100%;
  }
}
